:root {
  /* background colors */
  --white-bg-color: #fff;
  --black-bg-color: #000;
  --blue-bg-color: #5ab9ea;
  /* text colors */
  --white-txt-color: #fff;
  --black-txt-color: #000;
  /* border colors */
  --green-b-color: #00cc80;
  --purple-b-color: #8860d0;
  --blue-b-color: #5ab9ea;
  --l-blue-b-color: #c1c8e4;
}
